@model IEnumerable<aplicacion_proyecto2.Models.TblPedido>

@{
    ViewData["Title"] = "Index";
    TempData.Keep("Usuario");
}

<h1>Historial de Pedidos</h1>

<input type="hidden" value="@TempData["Usuario"]" />

<table class="table">
    <thead>
        <tr>
            <th>
                Código de rastreo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.IdPedido)
            </td>
            <td>
               ₡@Html.DisplayFor(modelItem => item.MontoTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                <a asp-action="Pedidos" asp-route-id="@TempData["Usuario"]" asp-route-idP="@item.IdPedido">Detalle del Pedido</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPedido">Eliminar Pedido</a>
            </td>
        </tr>
}
    </tbody>
</table>
