@model aplicacion_proyecto2.Models.TblCarrito

@{
    ViewData["Title"] = "Eliminar del carrito";
    TempData.Keep("Usuario");
}

<h1>Eliminar del carrito</h1>

<h3>¿Está seguro(a) de que desea eliminar el producto del carrito?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt hidden class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdDetalleProductoNavigation)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.IdDetalleProductoNavigation.IdDetalleProducto)
        </dd>
        <dt hidden class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCarrito" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-route-id="@TempData["Usuario"]" asp-action="Carrito">Regresar</a>
    </form>
</div>
