@model TblListaProducto

<h1>@TempData["Categoria"]</h1>

@{
    ViewData["Title"] = "Detalle producto";
}

<div class="productos">
    @foreach (var item in ViewBag.Productos)
    {
        <div class="container">
            <div class="float-start">
                <img src="data:image/jpg; base64, @item.RutaImagen" class="card-img-top">
            </div>            
        </div>
        <div class="float-end">
            <h2>@item.NombreProducto</h2>
            <p>Descripción: @item.Descripcion</p>
            <p>Precio: ₡@item.Precio</p>
            <p>Color: @item.Color</p>
            <p>Medida: @item.Medida</p>
            <p>Disponibles: @item.Stock</p>

            <div class="card-footer" id="btn-carrito">
                <a asp-action="Create" asp-controller="TblCarritoes" asp-route-id="1" asp-route-idD="@item.IdDetalleProducto" asp-route-nom="@item.NombreProducto" asp-route-stk="@item.Stock">Seleccionar</a>
            </div>
        </div>
        
    }
</div>

<div>
    <a asp-action="Productos" asp-route-idC="@TempData["Categoria"]">Regresar</a>
</div>
