@model TblListaProducto

@{
    TempData.Keep("Usuario");
}

<input type="text" value="@TempData["Usuario"]" />

<h1>@TempData["Categoria"]</h1>

<section>
    <form asp-controller="TblDetalleProductoes" asp-action="Productos" asp-route-idU="@TempData["Usuario"]" asp-route-idC="@TempData["Categoria"]" class="buscador">
        <div class="form-group">
            <label class="control-label">Buscar:</label>
            <input class="form-text" type="text" name="buscar"/>
            <input class="btn btn-sm btn-dark" type="submit" value="Buscar"/>
        </div>
    </form>

    <div class="productos">
        @foreach (var item in ViewBag.Productos)
        {
            <article class="tarjeta">
                <div>
                    <img src="data:image/jpg; base64, @item.RutaImagen" class="card-img-top">
                    <h2>@item.NombreProducto</h2>
                    <p>Precio: ₡@item.Precio</p>
                </div>
                <div class="card-footer">
                    <a asp-action="Details" asp-controller="TblDetalleProductoes" asp-route-idU="@TempData["Usuario"]" asp-route-idD="@item.IdDetalleProducto" asp-route-idC="@TempData["Categoria"]">Ver detalle del producto</a>
                </div>                
            </article>
        }
    </div>
</section>